# Visual Studio
.vs/
.vscode/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
.vscode/
.DS_Store
.idea/
.config/
.localhistory/

# Uncomment if you have tasks that create the project's static files
# static/
# staticfiles/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# SVN directories
.svn/

# npm
node_modules/

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Others
*.class
*.war
*.jar
*.pyc
*.pyo
.idea/
*.sublime-project
*.sublime-workspace
